<div class="card card-body mb-3">
  <h2>Deployment form</h2>
  <hr>

  <form (submit)="onSubmit($event)">

    <div class="form-group">
      <label> Name of openshift project to be deployed</label>
      <input type="text" class="form-control" name="dockerEnv" [(ngModel)]="environmentJenkins.dockerEnv" placeholder="Project Name">
    </div>

    <div class="form-group">
      <label>Requester </label>
      <input type="text" class="form-control" name="requester" [(ngModel)]="environmentJenkins.requester" placeholder="Your Name">
    </div>

    <div class="form-group">
      <label> ReleasALL Build job Number</label>
      <input type="number" class="form-control" name="releaseAll" [(ngModel)]="environmentJenkins.releaseAll" placeholder="ReleaseAll build job nr">
    </div>

    <div class="form-group">
      <label> Release Test Utilities Build job number</label>
      <input type="number" class="form-control" name="releaseTestUtilities" [(ngModel)]="environmentJenkins.releaseTestUtilities"
        placeholder="Release Test Utilities build job nr">
    </div>

    <div class="form-group">
      <label>Integrated: </label>
      <label>
        <input type="radio" name="integrated" value='true' [(ngModel)]="environmentJenkins.integrated"> Yes
      </label>
      <label>
        <input type="radio" name="integrated" value='false' [(ngModel)]="environmentJenkins.integrated"> No
      </label>
    </div>

    <div class="form-group">
      <label>Visible:</label>
      <label>
        <input type="radio" name="visible" value='true' [(ngModel)]="environmentJenkins.visible"> Yes
      </label>
      <label>
        <input type="radio" name="visible" value='false' [(ngModel)]="environmentJenkins.visible"> No
      </label>
    </div>


    <button class="btn btn-block mb-3" [disabled]="environmentJenkins.dockerEnv == '' || environmentJenkins.requester == '' || environmentJenkins.releaseAll == null
      || environmentJenkins.releaseTestUtilities == null || environmentJenkins.integrated == null || environmentJenkins.visible == null">Deploy new environment</button>

  </form>

</div>