<ul class="list-unstyled">

  <li class="card card-body mb-2 border-info" style="background-color:#f0f0f5
  ;" *ngFor="let environment of environmentsList">

    <!-- ENV NAME -->
    <span class="list-group-item d-flex justify-content-between align-items-center mb-0 rounded" style="background-color:#80ccff
      ;">
      <h3>{{ environment.name }}  <img src="https://msdnshared.blob.core.windows.net/media/2017/10/docker.png" height="30"></h3>
      <span class="log-date">created: {{ environment.creationTimeStamp | date: 'short' }}</span>
    </span>

    <!-- BUTTONS -->
    <!-- <div class="p-1 mb-3 ">
        <button (click)="produceLinks( environment.name )" (click)="toggleShowLinks(environment)"  (click)="sendEnvNameToExport( environment.name )" class="btn btn-xs">Links</button>
        <button (click)="toggleShowApps(environment)"  class="btn btn-xs" >Apps</button>
        <button class="btn btn-xs">Endpoints</button>
        <button class="btn btn-xs">DBPorts</button>
        <button (click)="getEnvironmentApps(environment.name)" class="btn btn-xs btn-danger">ReDeploy</button>
      </div> -->


    <div class="btn-group mt-1">
      <button (click)="produceLinks( environment.name )" (click)="toggleShowLinks(environment)" (click)="sendEnvNameToExport( environment.name )"
        class="btn btn-xs btn-primary" [class.active]="environment.showLinks">Links</button>
      <button (click)="toggleShowApps(environment)" [class.active]="environment.showApps" class="btn btn-xs btn-primary">Apps</button>
      <button (click)="toggleShowEndpts(environment)" [class.active]="environment.showEndpts" class="btn btn-xs btn-primary">Endpoints</button>
      <button (click)="toggleShowDbport(environment)" [class.active]="environment.showDbport" class="btn btn-xs btn-primary" >DBPorts</button>
      <button (click)="getEnvironmentApps(environment.name)" class="btn btn-xs btn-danger">ReDeploy</button>
    </div>

    



    <button (click)="toggleShowLinks(environment)" class="btn btn-outline-primary btn-sm mt-1" *ngIf="environment.showLinks">Hide {{environment.name}} Links list</button>



    <!-- LINKS -->
    <div *ngIf="environment.showLinks">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-6 col-md-4">
              <b>Environment Links</b>
            </div>
            <div class="col col-md-8">
              <!-- <button (click)="toggleShowLinks(environment)" class="btn btn-outline-secondary btn-sm">Hide Environment Links</button> -->
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-6 col-md-4">
              PSRM
            </div>
            <div class="col col-md-8">
              <a href="{{environmentLinks.PSRM}}">{{environmentLinks.PSRM}}</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-6 col-md-4">
              PSRM (no ssl login)
            </div>
            <div class="col col-md-8">
              <a href="{{environmentLinks.PSRM2}}">{{environmentLinks.PSRM2}}</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-6 col-md-4">
              Test Portal
            </div>
            <div class="col col-md-8">
              <a href="{{environmentLinks.TP}}">{{environmentLinks.TP}}</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-6 col-md-4">
              Batch Administration Website
            </div>
            <div class="col col-md-8">
              <a href="{{environmentLinks.BAW}}">{{environmentLinks.BAW}}</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-6 col-md-4">
              Fordringshaverportal
            </div>
            <div class="col col-md-8">
              <a href="{{environmentLinks.FHP}}">{{environmentLinks.FHP}}</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-6 col-md-4">
              Overview (OpenShift access required)
            </div>
            <div class="col col-md-8">
              <a href="{{environmentLinks.OS}}">{{environmentLinks.OS}}</a>
            </div>
          </div>
        </li>
      </ul>
    </div>


    <button (click)="toggleShowApps(environment)" class="btn btn-outline-primary btn-sm mt-1" *ngIf="environment.showApps">Hide {{environment.name}} Applications list</button>
    <app-environment-apps [environmentName]="environment.name" *ngIf="environment.showApps"></app-environment-apps>

    <button (click)="toggleShowEndpts(environment)" class="btn btn-outline-primary btn-sm mt-1" *ngIf="environment.showEndpts">Hide {{environment.name}} Endpoints list</button>
    <app-environment-endpts [environmentName]="environment.name" *ngIf="environment.showEndpts"></app-environment-endpts>

    <button (click)="toggleShowDbport(environment)" class="btn btn-outline-primary btn-sm mt-1" *ngIf="environment.showDBPorts">Hide {{environment.name}} DataBase ports</button>
    <app-environment-dbport [environmentName]="environment.name" *ngIf="environment.showDBPorts"></app-environment-dbport>



    <button (click)="hideAll(environment)" class="btn btn-outline-primary btn-sm mt-1" *ngIf="environment.showLinks || environment.showApps || environment.showEndpts ">Hide ALL {{environment.name}} properties</button>

  </li>
</ul>