<div class="mt-3">
  
  <ul class="list-unstyled card card-body mb-2">
    
    <div class="row">
        <div class="col-6 col-md-4">
          <b>Deployed Applications:</b>
        </div>
        <div class="col col-md-8">
        </div>
      </div>
    <li class="" *ngFor="let app of environmentAppsList">
      
      <div class="row">
        <div class="col col-md-3">{{ app.name }}</div>
        <div class="col"><i>working/replicas</i> ({{ app.currentReplicaCount}}/{{app.replicas}})</div>
        <div class="col col-md-1"><i>status: </i> {{app.status}}</div>
        <div class="col col-md-3"><i>configName: </i> {{app.configName}}</div>
        <div class="col"><i>version: </i>{{app.version}}</div>
      </div>
      <hr>

    </li>
  </ul>